header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color: whitesmoke;
    font-family: 'Dongle', sans-serif;
  }
  main {
    background-color: white;
    padding: 16px;
  }
  
  }
  a.photo{
    transition: padding 0.5s;
  }
  a.photo:hover{
    color: red;
    padding: 10px;
  }
  #my-unique-id { }
  .finstagram-post {
    margin-bottom: 48px;
  }